<h1><%= @playlist.name %></h1>

<ol>
  <% @playlist.songs.each do |song| %>
  <li><a href="<%= "/playlists/#{@playlist.id}/songs/#{song.id}" %>"><%= song.url %></a></li>
  <% end %>
</ol>

<form action="/playlists/<%= @playlist.id %>/songs" method="POST">
  <input type="text" name="url" />
  <input type="submit" value="Add Song">
</form>

<form action="/playlists/<%= @playlist.id %>/publish" method="POST">
  <input type="submit" value="Deploy Playlist">
</form>

